body{
    background-color: rgb(233, 233, 233);
    background-image: url(images/classroomStock1.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}
head{
    font-family: Arial, sans-serif;
    text-align: center;
    /* border: 3px solid rgb(0, 255, 149) */
    }
h1{
    font-family: Montserrat, Arial, sans-serif;
    color: rgb(235, 235, 235);
    font-size: 7vw;
    text-shadow: .4vw .4vw #2c2c2c;
    margin: 0px 0px;
    margin-top: 16px;
    padding-left: 20px;
    /* flex-grow: 3; */
    /* border: 3px solid rgb(255, 0, 234) */
    }
h2{
    font-family: Montserrat, Arial, sans-serif;
    color: white;
    font-size: max(3vw, 23px);
    text-align: center;
    padding: 0px;
    padding-top: 10px;
    margin: 0px;

    /* border: 3px solid rgb(255, 0, 234); */
    }
h3{
    font-family: Montserrat, Arial, sans-serif;
    color: rgb(231, 231, 231);
    font-size: max(1.5vw, 30px);
    margin: 0;
    padding: 0px;
    text-align: center;
    font-weight: 900;
    /* border: 3px solid rgb(255, 0, 234) */
    }
h4{
    font-family: Montserrat, Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 5vw;
    text-align: center;
    text-shadow: .2vw .2vw #424242;
    margin: 0px 0px;
    margin-top: auto;
    padding-left: 20px;
    /* flex-grow: 3; */
    /* border: 3px solid rgb(255, 0, 234) */
    }
p{
    font-family: Montserrat, Arial, sans-serif;
    color: rgb(240, 240, 240);
    text-align: justify;
    font-size: min(3vw, 25px);
    padding: 2vw;
    }


    /* the legal class changes the behavior of p and h3 in the footer (makes them more responsive) */
.legal p{  
    text-align: justify;
    font-size: .8vw;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    padding-top: 5px;
}
.legal h3{
    padding-top: 20px;
    font-size: max(1.5vw, 15px);

}


/* bodyLeftHalf and bodyRightHalf are used to position a picture next to text in the home and contact pages */
.bodyLeftHalf{
    float: left;
    display: grid;
    justify-self: stretch;
    align-self: center;
    margin: auto;
}

.bodyRightHalf{
    display: grid;
    justify-self: stretch;
    align-self: center;
    margin: 1vh;
}

/* media query to make the body halves slightly more pretty for mobile */
@media only screen and (max-width: 479px) {
    /* For mobile phones: */
    .bodyRightHalf{
      justify-self: center;
    }
    .bodyLeftHalf{
        justify-self: center;
        }
}

.center{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
img{
    max-height: 60vh;
    max-width: 90vw;
    height: auto;
    width: auto;
    margin: auto;
    padding-top: 1vh;
    /* border: 5px solid blue; */
    }

/* navbar container */
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(rgb(117, 146, 117), rgb(78, 128, 78));
    overflow: hidden;
    box-shadow: 0px 00px 10px rgb(0, 0, 0);
    border: 5px;
    border-color: black;
    /* background-color: rgb(78, 128, 78); */
}

@media only screen and (max-width: 628px) {
    /* logo disappears when shrinking page*/
    .navbar h1{
        display: none;
    }
}

.navbar a{
    text-align: center;
    padding: 14px 16px;
    margin: .5vh .5vh;
    text-decoration: none;
    float: right;
    position: relative;
    display: inline-block;

    font-family: Montserrat, Arial, sans-serif;
    color: rgb(231, 231, 231);
    font-size: max(1.5vw, 30px);

}
.navbar a:hover{
    background-color:rgb(44, 114, 44);
    color: black;

}
.navbar a:active{
    background-color:rgb(33, 87, 33);
    color: white;
}
.navbar a:link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.navbar a:visited{
    color: #ffffff;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
  }
.dropdown-content {
    display: none;
    position: fixed;
    background: linear-gradient(rgb(117, 146, 117), rgb(78, 128, 78));
    min-width: 90px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);

}
.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color:rgb(44, 114, 44);
}
.dropdown-content a:active{
    background-color:rgb(33, 87, 33);
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
    position: fixed;
    padding-top: auto;
}        

/* vidGridGreen and vidGridWhite are containers for the grid of videos under the course pages */
.vidGridGreen{
    background-color: rgb(78, 128, 78);
    display: grid;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 00px 10px rgb(0, 0, 0);
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 10vh;

    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: auto;
    justify-items: center;

}
.vidGridWhite{
    background-color: rgb(235, 235, 235);
    display: grid;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 00px 10px rgb(0, 0, 0);
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 10vh;

    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: auto;
    justify-items: center;

}
.vidGridGreen iframe{
    border-color: white;
    border-width: 5px;
    height: 30vh;
    width: 19vw;
}
.vidGridWhite iframe{
    border-color: white;
    border-width: 5px;
    height: 30vh;
    width: 19vw;
}
.vidGridWhite h4{
    color: rgb(78, 128, 78);
}
.vidGridWhite p{
    color: rgb(78, 128, 78);
    text-align: center;
}

/* used to center the text "intro, intermediate, advanced" above the grid of videos */
.levelText{
    grid-column: 1 / span 4;
}


 /* whatWeDo and HowWeDo are containers used by bodyRightHalf and bodyLeftHalf. I theorize this is highly inefficient. */ 
.whatWeDo{
    background-color: rgb(78, 128, 78);
    display: grid;
    align-items: space-between;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 00px 10px rgb(128, 128, 128);
    margin-top: 5vh;
}
.howWeDo{
    background-color: rgb(235, 235, 235);
    display: grid;
    align-items: space-between;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 00px 10px rgb(128, 128, 128);
    margin-top: 5vh;
}
.howWeDo p{
    color: black;
}
.howWeDo h2{
    color: black;
}

.footer{
    background-color: rgb(78, 128, 78);
    display: flex;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 00px 10px rgb(0, 0, 0);
    justify-content: center;
    align-content: center;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

/*  aboutUs is nominally used for the about us page, but also for the generic Courses landing page (which is only seen by the impatient and jittery).
    Because the courses page contains links to the courses, it was necessary to add link stylings <a>. */
.aboutUs{
    margin-left: 10vw;
    margin-right: 10vw;
}
.aboutUs a{
    text-align: center;
    padding: 14px 16px;
    margin: .5vh .5vh;
    text-decoration: none;
    float: none;
    position: relative;

    font-family: Montserrat, Arial, sans-serif;
    color: rgb(231, 231, 231);
    font-size: max(1.5vw, 30px);
}
.aboutUs a:hover{
    background-color:rgb(44, 114, 44);
    color: black;
}
.aboutUs a:active{
    background-color:rgb(33, 87, 33);
    color: white;
}
.aboutUs a:link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.aboutUs a:visited{
    color: #ffffff;
    text-decoration: none;
}


#content {
    padding-top: 7vh;
}


/* the .fa family is used by the icons on the contact page. Supplied lovingly by https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
.fa {
    padding: 20px;
    font-size: 50px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}


.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}