body{
    background-color: rgb(233, 233, 233);
    background-image: url(images/classroomStock1.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}
head{
    font-family: Arial, sans-serif;
    text-align: center;
    /* border: 3px solid rgb(0, 255, 149) */
    }
h1{
    font-family: Montserrat, Arial, sans-serif;
    color: rgb(235, 235, 235);
    font-size: 9vw;
    text-shadow: .4vw .4vw #2c2c2c;
    margin: 0px 0px;
    margin-top: 16px;
    padding-left: 20px;
    /* flex-grow: 3; */
    /* border: 3px solid rgb(255, 0, 234) */
    }
h2{
    font-family: Montserrat, Arial, sans-serif;
    color: white;
    font-size: 3vw;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
    margin: 0px;

    /* border: 3px solid rgb(255, 0, 234); */
    }
h3{
    font-family: Montserrat, Arial, sans-serif;
    color: rgb(231, 231, 231);
    font-size: 1.5vw;
    margin: 0;
    padding: 0px;
    text-align: center;
    /* border: 3px solid rgb(255, 0, 234) */
    }
h4{
    font-family: Montserrat, Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 5vw;
    text-align: center;
    text-shadow: .2vw .2vw #424242;
    margin: 0px 0px;
    margin-top: 16px;
    padding-left: 20px;
    /* flex-grow: 3; */
    /* border: 3px solid rgb(255, 0, 234) */
    }
p{
    font-family: Montserrat, Arial, sans-serif;
    color: rgb(216, 216, 216);
    text-align: justify;
    font-size: 25px;
    padding: 25px;
    }
.legal p{
    text-align: justify;
    font-size: .8vw;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    padding-top: 5px;
}
.legal h3{
    padding-top: 20px;

}
iframe{
    border-color: white;
    border-width: 5px
}
.bodyLeftHalf{
    float: left;
    width: 50%;
    justify-content: space-around;
    align-content: center;
}
.bodyRightHalf{
    float: right;
    width: 50%;
    justify-content: space-around;
    align-content: center;
}

.center{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    }
img{

    margin: 15px;
    /* border: 5px solid blue; */
    }

.navbar{
    position: fixed;
    width: 98vw;
    background: linear-gradient(rgb(117, 146, 117), rgb(78, 128, 78));
    overflow: hidden;
    box-shadow: 0px 00px 10px rgb(0, 0, 0);
    border: 5px;
    border-color: black;
    /* background-color: rgb(78, 128, 78); */
}    
.navbar a{
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    margin: .5vh .5vh;
    text-decoration: none;
    font-size: 1.5vw;
    float: right;
    font-family: Montserrat, Arial, sans-serif;

}
.navbar a:hover{
    background-color:rgb(44, 114, 44);
    color: black;

}
.navbar a:active {
    background-color:rgb(18, 78, 18);
    color: white;
}
.navbar a:link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.navbar a:visited{
    color: #ffffff;
    text-decoration: none;
}

.whatWeDo{
    background-color: rgb(78, 128, 78);
    display: flex;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 00px 10px rgb(0, 0, 0);
    justify-content: space-around;
    align-content: center;
    margin-top: 10vh;
}
.howWeDo{
    background-color: rgb(235, 235, 235);
    display: flex;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 00px 10px rgb(128, 128, 128);
    justify-content: space-around;
    align-content: center;
    margin-top: 5vh;
}
.howWeDo p{
    color: black;
}
.howWeDo h2{
    color: black;
}

.footer{
    background-color: rgb(78, 128, 78);
    display: flex;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 00px 10px rgb(0, 0, 0);
    justify-content: space-around;
    align-content: center;
    margin-top: 10vh;
}

.aboutUs{
    margin-left: 200px;
    margin-right: 200px;
}

.content {
    padding-top: 320px;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}


.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
/*unncessary comment to try to update with github */